[submodule "enrolment"]
	path = enrolment
	url = git@github.com:ACWIC/training-provider-enrolment.git
[submodule "catalogue"]
	path = catalogue
	url = git@github.com:ACWIC/training-provider-catalogue.git
[submodule "admin"]
	path = admin
	url = git@github.com:ACWIC/training-provider-admin.git
